#log-monitor-application

script
  head.ready(function() {
    var mon = new LogMonitor;
    var app = new LogMonitorView(mon);

    var logCollection = new LogRecordCollection( !{JSON.stringify(logs) });
    logCollection.each(app.appendRecord);
  });


