/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
 * End reset
 * 
 */

body {
  font: 14px monospace;
  font-weight: normal;
  font-style: normal;
  background-color: #3c5c7e;
  overflow: auto;
}

.log-record {
  position: relative;
  padding: 2px 0px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  padding 2px 4px;
}

li.level { 
  width: 10ex; 
}

li.name {
  width: 8ex;
}

li.msg {
  min-width: 40ex;
}

li.funcname {
}

li.user { 
  padding-left: 1ex;
}
.username,
.hostname{
}

li.time {
  position: absolute;
  right: 10px;
  font-family: sans-serif;
  width: 20ex;
  padding-left: 20px;
}

.traceback,
.args { 
  margin-left: 18ex;
  white-space: pre;
}


.error      .level{ background-color: red }
.warning    .level{ background-color: orange }
.debug      .level{ background-color: purple }

.error      .msg { color: yellow }


